body {
    background-color: #06175a;
}

#typing-text {
    font-family:'Segoe UI', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: white;
    z-index: 2;
}
   
#snowfall {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#centered-image {
    width: 450px;
    position: absolute;
    top: 16%;
    left: 32%;
    transform: translate(-50%, -50%);
    animation: floatBalloon 6s ease-in-out infinite;
    transform-origin: center center;
  }
  
  @keyframes floatBalloon {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-30px); }
  }
  
